.clients-info {
  display: grid;
  grid-template-columns: 64px auto;
  grid-column-gap: 16px;
  align-items: center;
}

.clients-info__avatar {
  grid-row: 1 / 3;
}

h4.clients-info__name {
  margin-bottom: 0;
}

.clients-info__name,
.clients-info__phone {
  grid-column: 2 / 3;
}
